<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <button ion-button clear small (click)="backArrow()">
          Cancel
        </button>
      </ion-col>
      <ion-col col-6>
        {{editContact.name + ' ' + editContact.lastName}}
      </ion-col>
      <ion-col col-3>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>


<ion-content padding>
  <ion-list>
    <form [formGroup]="editForm">
      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input formControlName="name" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Last Name</ion-label>
        <ion-input formControlName="lastName" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Phone number</ion-label>
        <ion-input formControlName="phone" type="tel"></ion-input>
      </ion-item>

      <div padding>
        <button ion-button color="header" block [disabled]="!editForm.valid" (click)="saveContact()">Save Contact
        </button>
      </div>
    </form>
  </ion-list>
</ion-content>
