page-edit-contact {
  ion-header {
    ion-grid {
      ion-col {
        display: flex;
        align-items: center;
        span {
          color: #fff;
          font: {
            size: 2.5rem;
          }
        }
        &:nth-child(1) {
          justify-content: flex-start;
          font: {
            size: 1.5rem;
            weight: 200;
          }
        }
        &:nth-child(2) {
          justify-content: center;
          color: #fff;
          font: {
            size: 2rem;
          }
        }
        &:nth-child(3) {
          justify-content: flex-end;
        }
      }
    }
  }
}
