ion-header {
  &.header {
    background-color: map-get($colors, header);
  }

  .toolbar-background-md, .toolbar-background-ios {
    background-color: map-get($colors, header);
    border: none !important;
  }
  .toolbar-title {
    color: #fff;
    font-weight: 100 !important;
  }
  background-color: map_get($colors, header);
  ion-grid {
    ion-col {
      font: {
        size: 2rem;
      }
      display: flex;
      align-items: center;

      &:nth-child(1) {
        justify-content: flex-start;
        span {
          color: #fff;
          font: {
            size: 1.5rem;
            weight: 200;
          }
        }
      }
      &:nth-child(2) {
        justify-content: center;
        color: #fff;
      }
      &:nth-child(3) {
        justify-content: flex-end;
        span {
          color: #fff;
          font: {
            size: 2.5rem;
          }
        }
      }
    }
  }
}
