<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col>
        Contact
      </ion-col>
      <ion-col>
        <button ion-button clear small (click)="createContact()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item-sliding *ngFor="let contactItem of allContact">
      <button ion-item>
        <h2>{{contactItem?.name + ' ' + contactItem?.lastName}}</h2>
      </button>

      <ion-item-options>
        <button ion-button color="secondary" (click)="editContact(contactItem)">
          Edit
        </button>
        <button ion-button color="danger" (click)="deleteContact(contactItem)">
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
